.galary-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
    column-gap: 65px;
    padding-left: 0 ;
    row-gap: 130px;
  }
  .galary-list-item{
    width: 420px;
  }
  .galary-title {
      font-size: var(--title-text-size);
  }
  .galary-name > a {
      font-family: "Ubuntu", sans-serif;
      color: var(--scnd-color);
  }
    .galary-image{
      margin-bottom: 62px;
    }
    .galary-name{
margin-bottom: 32px;
font-weight: 300;
font-size: 14px;
    }
    .galary-title{
      margin-bottom: 40px;
      font-weight: 400px;
      font-size: 30px;
    }
    .galary-button{
      display: block;
      margin: 0 auto;
      padding-top: 20px;
      padding-left: 49px;
      padding-bottom: 21px;
      padding-right: 48px;
      margin-bottom: 35px; 
      background-color: white;    
   }